* {
    margin: 0px;
}

body {
    background: #C8C8C8;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 50px;
    height: 218px;
    background: white;
}

.search-bar {
    text-align: center;
}

.search-button button   {
    border: none;
    background-color: white;
}