body {
    color: #222;
    margin: 0;
}

.header {
    color: white;
    text-align: center;
    background-image: url("./asset/landing_logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
    padding: 80px;
}

.header > p {
    font-weight: middle;
}

.header #landing_btn {
    font-size: 1.2em;
    padding: 20px 30px;
    color: white;
    background-color: #222;
    border: solid 1px;
    border-color: #666;
}

.header #landing_btn:hover {
    color: #222;
    background-color: #DDD;
}

.development {
    text-align: center;
}

.development > .container {
    display: flex;
    justify-content: center;
}

.development > .container > .description {
    width: mixmax(auto, 500px);
}

.content {
    display: flex;
    justify-content: center;
    background-color: #222;
}

.content > .item {
    margin: 30px 15px;
    width: 300px;
    height: auto;
    background-color: white;
    text-align: center;
}

.content > .item > h3 {
    font-size: 24px;
    line-height: 3.0;
}

.content > .item > p {
    margin: 30px;
    font-size: 20px;
}

.content > .item img {
    width: inherit;
    height: 220px;
}

.company-PR {
    padding: 50px 20px;
    height: auto;
    text-align: center;
}

.company-PR #atext {
    font-size: 26px;
    font-weight: bold;
    line-height: 100px;
}

.company-PR p {
    font-size: 20px;
}